export(basal_area)
export(fractional_cover)
export(get_ausplots)
export(growth_form_table)
export(species_table)
export(single_cover_value)
export(ausplots_visual)
import(plyr, R.utils, simba, vegan, maps, mapdata, sp, maptools, ggplot2, gtools)
importFrom("grDevices", "colors", "dev.off", "pdf", "terrain.colors")
importFrom("graphics", "legend", "par", "pie", "points")
importFrom("stats", "na.omit")
importFrom("utils", "tail")
importFrom("jose", "jwt_claim", "jwt_encode_hmac")
importFrom("httr", "GET", "http_type", "add_headers", "stop_for_status")
importFrom("jsonlite", "fromJSON")


