export(basal_area)
export(fractional_cover)
export(get_ausplots)
export(growth_form_table)
export(species_table)
export(single_cover_value)
export(optim_species)
export(plot_opt)
export(ausplots_visual)
export(map_ausplots)
export(species_list)
export(ausplots_trajectory)
import(ggplot2, mapdata)
importFrom("vegan", "rad.lognormal", "specaccum", "diversity", "vegdist")
importFrom("grDevices", "colors", "dev.off", "pdf", "terrain.colors", "rainbow")
importFrom("graphics", "legend", "par", "pie", "points")
importFrom("stats", "na.omit", "reshape", "sd")
importFrom("utils", "tail", "write.table", "packageVersion", "head")
importFrom("jose", "jwt_claim", "jwt_encode_hmac")
importFrom("httr", "GET", "http_type", "add_headers", "stop_for_status", "user_agent", "content", "timeout", "http_error", "message_for_status")
importFrom("jsonlite", "fromJSON")
importFrom("R.utils", "capitalize")
importFrom("gtools", "mixedorder")
importFrom("plyr", "count")
importFrom("betapart", "beta.pair")
importFrom("curl", "curl_version", "has_internet")
importFrom("r2r", "hashmap")
importFrom("stringr", "str_sub")
